In [5]:
import pandas as pd
import numpy as np

In [6]:
url_cgsse = 'https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/cgsse.CSV'
url_ocupados = 'https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Ocupados.CSV'
url_ft = 'https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Fuerza%20de%20trabajo.CSV'
url_desocupados = 'https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/No%20ocupados.CSV'

In [7]:
df_cgsse = pd.read_csv(url_cgsse, encoding='latin-1', sep=';', low_memory=False) 
 

#ocupados
df_ocupados =pd.read_csv(url_ocupados, encoding='latin-1', sep=';', low_memory=False) 

#fuerza de trabajo 
df_ft =pd.read_csv(url_ft, encoding='latin-1', sep=';', low_memory=False) 

#no ocupados
df_desocupados =pd.read_csv(url_desocupados, encoding='latin-1', sep=';', low_memory=False)

calcular poblacion total

In [8]:
PT = df_cgsse['FEX_C18'].sum()
print(f'Poblacion total: {int(PT)}')

Poblacion total: 52045001

#Calcular poblacion en edad trabajar

In [9]:
PET = df_cgsse[df_cgsse['P6040'] >= 15]['FEX_C18'].sum()
print(f'Poblacion en edad de trabajar: {PET}')

Poblacion en edad de trabajar: 40653416.00000409

In [10]:
#población que no está en edad de trabajar

In [11]:
PET = df_cgsse[df_cgsse['P6040'] < 15]['FEX_C18'].sum()
print(f'Poblacion que no esta en edad de trabajar: {PET}')

Poblacion que no esta en edad de trabajar: 11391585.000004958

# Calculo de la tasa de ocupacion 
-cantidad ocupados
-cantidad PEA 
-O/PEA

In [12]:
#calcular ocupados
O = int(df_ocupados['FEX_C18'].sum())
print(f'Poblacion en edad de trabajar: {int(df_ocupados["FEX_C18"].sum())}')

PET = int(df_ft['FEX_C18'].sum())
print(f'Poblacion en fuerza de trabajo: {int(df_ft["FEX_C18"].sum())}')

TO= (O/PET)*100
print(f'Tasa de ocupacion: {TO:.2f}%')

Poblacion en edad de trabajar: 23752952
Poblacion en fuerza de trabajo: 40653416
Tasa de ocupacion: 58.43%

In [13]:
# Desocupados
desocupados_total = df_desocupados['FEX_C18'].sum()

D = int(df_desocupados[df_desocupados['DSI'] == 1]['FEX_C18'].sum())
print(f'Poblacion desocupada: {int(df_desocupados["FEX_C18"].sum())}')
PEA = df_ft[df_ft['FT'] == 1]['FEX_C18'].sum()

tasa_desempleo = (D / PEA) * 100

print("Tasa de desempleo (TD):", tasa_desempleo, "%")

Poblacion desocupada: 16900463
Tasa de desempleo (TD): 8.554017917472796 %

In [14]:
#calculando da PEA y PEI

In [15]:
PEA = df_ft[df_ft['FT'] == 1]['FEX_C18'].sum()
print(f'Poblacion economicamente activa: {int (PEA)}')

PEI= df_ft[df_ft['FFT'] == 1]['FEX_C18'].sum()
print(f'Poblacion economicamente inactiva: {int (PEA)}')

Poblacion economicamente activa: 25974846
Poblacion economicamente inactiva: 25974846

In [16]:
departamentos = df_ft['DPTO'].unique()
print(departamentos)

[ 8 70 41 63 66  5 11 13 15 17 18 19 20 23 25 27 44 47 50 52 54 68 73 76
 81 85 86 88 91 94 95 97 99]

#calcular tasa desempleo Quindio
#que se necesita
#formula TDHQ = HD/PEAHQ -> HDQ : hombres desempleados en el quindio,

In [17]:
#debemos anexar la p3371 a la tabla desemplados 
df_d_genero = pd.merge(df_desocupados, df_cgsse[['DIRECTORIO','SECUENCIA_P', 'ORDEN', 'P3271','P6040']], on=['DIRECTORIO','SECUENCIA_P', 'ORDEN'], how ='left')
df_ft_genero = pd.merge(df_ft, df_cgsse[['DIRECTORIO','SECUENCIA_P', 'ORDEN', 'P3271', 'P6040']], on=['DIRECTORIO','SECUENCIA_P', 'ORDEN'], how ='left')

In [18]:
# 1. calcular hombres desocupados en Quindio usando df_d_genero (ya contiene P3271)
HDQ = df_d_genero[
	(df_d_genero['DSI'] == 1) &
	(df_d_genero['DPTO'] == 63) &
	(df_d_genero['P3271'] == 1)
]['FEX_C18'].sum()
print(f'Hombres desocupados en Quindio: {int(HDQ)}')

# 2. PEA hombres en Quindio usando df_d_genero
PEAHQ = df_ft_genero[
	(df_ft_genero['FT'] == 1) &
	(df_ft_genero['DPTO'] == 63) &
	(df_ft_genero['P3271'] == 1)
]['FEX_C18'].sum()
print(f'PEA hombres en Quindio: {int(PEAHQ)}')

# 3. Tasa de desempleo hombres en Quindio
TDHQ = (HDQ / PEAHQ) * 100
print(f'Tasa de desempleo hombres en Quindio: {TDHQ:.2f}')

Hombres desocupados en Quindio: 17869
PEA hombres en Quindio: 174625
Tasa de desempleo hombres en Quindio: 10.23

In [19]:
# 2. calcular mujeres desocupados en Quindio
# 1. calcular hombres desocupados en Quindio usando df_d_genero (ya contiene P3271)
HDQ = df_d_genero[
	(df_d_genero['DSI'] == 1) &
	(df_d_genero['DPTO'] == 63) &
	(df_d_genero['P3271'] == 2)
]['FEX_C18'].sum()
print(f'Mujeres desocupadas en Quindio: {int(HDQ)}')

# 2. PEA hombres en Quindio usando df_d_genero
PEAHQ = df_ft_genero[
	(df_ft_genero['FT'] == 1) &
	(df_ft_genero['DPTO'] == 63) &
	(df_ft_genero['P3271'] ==2)
]['FEX_C18'].sum()
print(f'PEA Mujeres en Quindio: {int(PEAHQ)}')

# 3. Tasa de desempleo hombres en Quindio
TDHQ = (HDQ / PEAHQ) * 100
print(f'Tasa de desempleo Mujeres en Quindio: {TDHQ:.2f}')

Mujeres desocupadas en Quindio: 10618
PEA Mujeres en Quindio: 116885
Tasa de desempleo Mujeres en Quindio: 9.08

In [20]:
# 1. calcular hombres desocupados en Risaralda
HDR = df_d_genero[
	(df_d_genero['DSI'] == 1) &
	(df_d_genero['DPTO'] == 66) &
	(df_d_genero['P3271'] == 1)
]['FEX_C18'].sum()
print(f'hombres desocupados en Risaralda: {int(HDR)}')

# 2. PEA hombres en Risaralda usando df_d_genero
PEAHR = df_ft_genero[
	(df_ft_genero['FT'] == 1) &
	(df_ft_genero['DPTO'] == 66) &
	(df_ft_genero['P3271'] ==1)
]['FEX_C18'].sum()
print(f'PEA hombres en Risaralda: {int(PEAHR)}')

# 3. Tasa de desempleo hombres en Risaralda
TDHR = (HDR / PEAHR) * 100
print(f'Tasa de desempleo Hombres en Risaralda: {TDHR:.2f}')

hombres desocupados en Risaralda: 18000
PEA hombres en Risaralda: 296342
Tasa de desempleo Hombres en Risaralda: 6.07

In [21]:
# 2. calcular mujeres desocupados en Risaralda
HDR = df_d_genero[
	(df_d_genero['DSI'] == 1) &
	(df_d_genero['DPTO'] == 66) &
	(df_d_genero['P3271'] == 2)
]['FEX_C18'].sum()
print(f'Mujeres desocupadas en Risaralda: {int(HDR)}')

# 2. PEA Mujeres en Risaralda usando df_d_genero
PEAHR = df_ft_genero[
	(df_ft_genero['FT'] == 1) &
	(df_ft_genero['DPTO'] == 66) &
	(df_ft_genero['P3271'] ==2)
]['FEX_C18'].sum()
print(f'PEA Mujeres en Risaralda: {int(PEAHQ)}')

# 3. Tasa de desempleo Mujeres en Risaralda
TDHQ = (HDR / PEAHR) * 100
print(f'Tasa de desempleo Mujeres en Risaralda: {TDHR:.2f}')

Mujeres desocupadas en Risaralda: 21676
PEA Mujeres en Risaralda: 116885
Tasa de desempleo Mujeres en Risaralda: 6.07

In [22]:
# 1. calcular hombres desocupados en Caldas
HDC= df_d_genero[
	(df_d_genero['DSI'] == 1) &
	(df_d_genero['DPTO'] == 17) &
	(df_d_genero['P3271'] == 1)
]['FEX_C18'].sum()
print(f'hombres desocupados en Caldas: {int(HDC)}')

# 2. PEA hombres en Caldas usando df_d_genero
PEAHC = df_ft_genero[
	(df_ft_genero['FT'] == 1) &
	(df_ft_genero['DPTO'] == 17) &
	(df_ft_genero['P3271'] ==1)
]['FEX_C18'].sum()
print(f'PEA hombres en Caldas: {int(PEAHR)}')

# 3. Tasa de desempleo hombres en Caldas
TDHC = (HDC / PEAHC) * 100
print(f'Tasa de desempleo Hombres en Caldas: {TDHC:.2f}')

hombres desocupados en Caldas: 18226
PEA hombres en Caldas: 203157
Tasa de desempleo Hombres en Caldas: 5.58

In [23]:
# 2. calcular mujeres desocupadas en Caldas
HDR = df_d_genero[
	(df_d_genero['DSI'] == 1) &
	(df_d_genero['DPTO'] == 17) &
	(df_d_genero['P3271'] == 2)
]['FEX_C18'].sum()
print(f'Mujeres desocupadas en Caldas: {int(HDR)}')

# 2. PEA Mujeres en Caldas usando df_d_genero
PEAHC = df_ft_genero[
	(df_ft_genero['FT'] == 1) &
	(df_ft_genero['DPTO'] == 17) &
	(df_ft_genero['P3271'] ==2)
]['FEX_C18'].sum()
print(f'PEA Mujeres en Caldas: {int(PEAHC)}')

# 3. Tasa de desempleo Mujeres en Risaralda
TDHC = (HDC / PEAHC) * 100
print(f'Tasa de desempleo Mujeres en CALDAS: {TDHC:.2f}')

Mujeres desocupadas en Caldas: 17214
PEA Mujeres en Caldas: 224206
Tasa de desempleo Mujeres en CALDAS: 8.13

#CALCULO TASA DESEMPLEO SEGMENTOS DE EDAD QUINDIO

In [24]:
#SEGMENTO 18-24
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 18-24 AÑOS EN QUINDIO
HDQ_18_24 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 63) &
    (df_d_genero['P6040'] >= 18) &
    (df_d_genero['P6040'] <= 24)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en Quindio entre 18-24 años: {int(HDQ_18_24)}')

#2. CALCULAR PEA ENTRE 18-24 AÑOS EN QUINDIO
PEA_18_24 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 63) &
    (df_ft_genero['P6040'] >= 18) &
    (df_ft_genero['P6040'] <= 24)
]['FEX_C18'].sum()
print(f'PEA en Quindio entre 18-24 años: {int(PEA_18_24)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 18-24 AÑOS EN QUINDIO
TD_18_24 = (HDQ_18_24 / PEA_18_24) * 100
print(f'Tasa de desempleo en Quindio entre 18-24 años: {TD_18_24:.2f}%')


#SEGMENTO 24-30
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 18-24 AÑOS EN QUINDIO
HDQ_24_30 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 63) &
    (df_d_genero['P6040'] >= 24) &
    (df_d_genero['P6040'] <= 30)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en Quindio entre 24-30 años: {int(HDQ_24_30)}')

#2. CALCULAR PEA ENTRE 24-30 AÑOS EN QUINDIO
PEA_24_30 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 63) &
    (df_ft_genero['P6040'] >= 24) &
    (df_ft_genero['P6040'] <= 30)
]['FEX_C18'].sum()
print(f'PEA en Quindio entre 24-30 años: {int(PEA_24_30)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 24-30 AÑOS EN QUINDIO
TD_24_30 = (HDQ_24_30 / PEA_24_30) * 100
print(f'Tasa de desempleo en Quindio entre 24-30 años: {TD_24_30:.2f}%')


#SEGMENTO 30-40
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 30-40 AÑOS EN QUINDIO
HDQ_30_40 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 63) &
    (df_d_genero['P6040'] >= 30) &
    (df_d_genero['P6040'] <= 40)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en Quindio entre 30-40 años: {int(HDQ_30_40)}')

#2. CALCULAR PEA ENTRE 30-40 AÑOS EN QUINDIO
PEA_30_40 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 63) &
    (df_ft_genero['P6040'] >= 30) &
    (df_ft_genero['P6040'] <= 40)
]['FEX_C18'].sum()
print(f'PEA en Quindio entre 18-24 años: {int(PEA_30_40)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 18-24 AÑOS EN QUINDIO
TD_30_40 = (HDQ_30_40 / PEA_30_40) * 100
print(f'Tasa de desempleo en Quindio entre 30-40 años: {TD_30_40:.2f}%')


#SEGMENTO 40-50
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 18-24 AÑOS EN QUINDIO
HDQ_40_50 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 63) &
    (df_d_genero['P6040'] >= 40) &
    (df_d_genero['P6040'] <= 50)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en Quindio entre 40-50 años: {int(HDQ_40_50)}')

#2. CALCULAR PEA ENTRE 40-50 AÑOS EN QUINDIO
PEA_40_50 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 63) &
    (df_ft_genero['P6040'] >= 40) &
    (df_ft_genero['P6040'] <= 50)
]['FEX_C18'].sum()
print(f'PEA en Quindio entre 40-50 años: {int(PEA_40_50)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 40-50 AÑOS EN QUINDIO
TD_40_50 = (HDQ_40_50 / PEA_40_50) * 100
print(f'Tasa de desempleo en Quindio entre 40-50 años: {TD_40_50:.2f}%')


#SEGMENTO 18-24
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 18-24 AÑOS EN QUINDIO
HDQ_60_100 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 63) &
    (df_d_genero['P6040'] >= 60) &
    (df_d_genero['P6040'] <= 100)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en Quindio entre 18-24 años: {int(HDQ_18_24)}')

#2. CALCULAR PEA ENTRE 60 y mas AÑOS EN QUINDIO
PEA_60_100 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 63) &
    (df_ft_genero['P6040'] >= 60) &
    (df_ft_genero['P6040'] <= 100)
]['FEX_C18'].sum()
print(f'PEA en Quindio entre 60 y mas años: {int(PEA_60_100)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 60 y mas AÑOS EN QUINDIO
TD_60_100 = (HDQ_60_100/ PEA_60_100) * 100
print(f'Tasa de desempleo en Quindio entre 60 y mas años: {TD_60_100:.2f}%')

PERSONAS desocupados en Quindio entre 18-24 años: 3819
PEA en Quindio entre 18-24 años: 29912
Tasa de desempleo en Quindio entre 18-24 años: 12.77%
PERSONAS desocupados en Quindio entre 24-30 años: 7008
PEA en Quindio entre 24-30 años: 51117
Tasa de desempleo en Quindio entre 24-30 años: 13.71%
PERSONAS desocupados en Quindio entre 30-40 años: 7015
PEA en Quindio entre 18-24 años: 72731
Tasa de desempleo en Quindio entre 30-40 años: 9.65%
PERSONAS desocupados en Quindio entre 40-50 años: 4416
PEA en Quindio entre 40-50 años: 70586
Tasa de desempleo en Quindio entre 40-50 años: 6.26%
PERSONAS desocupados en Quindio entre 18-24 años: 3819
PEA en Quindio entre 60 y mas años: 41690
Tasa de desempleo en Quindio entre 60 y mas años: 10.31%

In [25]:
#SEGMENTO 18-24
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 18-24 AÑOS EN RISARALDA
HDR_18_24 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 66) &
    (df_d_genero['P6040'] >= 18) &
    (df_d_genero['P6040'] <= 24)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en Risaralda entre 18-24 años: {int(HDR_18_24)}')

#2. CALCULAR PEA ENTRE 18-24 AÑOS EN RISARALDA
PEA_18_24 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 66) &
    (df_ft_genero['P6040'] >= 18) &
    (df_ft_genero['P6040'] <= 24)
]['FEX_C18'].sum()
print(f'PEA en RISARALDA entre 18-24 años: {int(PEA_18_24)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 18-24 AÑOS EN RISARALDA
TD_18_24 = (HDR_18_24 / PEA_18_24) * 100
print(f'Tasa de desempleo en RISARALDA entre 18-24 años: {TD_18_24:.2f}%')


#SEGMENTO 24-30
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 18-24 AÑOS EN RISALRALDA
HDR_24_30 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 66) &
    (df_d_genero['P6040'] >= 24) &
    (df_d_genero['P6040'] <= 30)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en RISARALDA entre 24-30 años: {int(HDR_24_30)}')

#2. CALCULAR PEA ENTRE 24-30 AÑOS EN RISARALDA
PEA_24_30 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 66) &
    (df_ft_genero['P6040'] >= 24) &
    (df_ft_genero['P6040'] <= 30)
]['FEX_C18'].sum()
print(f'PEA en RISARALDA entre 24-30 años: {int(PEA_24_30)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 24-30 AÑOS EN RISARALDA
TD_24_30 = (HDR_24_30 / PEA_24_30) * 100
print(f'Tasa de desempleo en RISARALDA entre 24-30 años: {TD_24_30:.2f}%')


#SEGMENTO 30-40
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 30-40 AÑOS EN RISARALDA
HDR_30_40 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 66) &
    (df_d_genero['P6040'] >= 30) &
    (df_d_genero['P6040'] <= 40)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en RISALDA entre 30-40 años: {int(HDR_30_40)}')

#2. CALCULAR PEA ENTRE 30-40 AÑOS EN RISARALDA
PEA_30_40 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 66) &
    (df_ft_genero['P6040'] >= 30) &
    (df_ft_genero['P6040'] <= 40)
]['FEX_C18'].sum()
print(f'PEA en RISARALDA entre 18-24 años: {int(PEA_30_40)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 18-24 AÑOS EN RISARALDA
TD_30_40 = (HDR_30_40 / PEA_30_40) * 100
print(f'Tasa de desempleo en RISARALDA entre 30-40 años: {TD_30_40:.2f}%')


#SEGMENTO 40-50
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 40-50 AÑOS EN RISARALDA
HDR_40_50 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 66) &
    (df_d_genero['P6040'] >= 40) &
    (df_d_genero['P6040'] <= 50)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en RISARALDA entre 40-50 años: {int(HDR_40_50)}')

#2. CALCULAR PEA ENTRE 40-50 AÑOS EN RISARALDA
PEA_40_50 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 66) &
    (df_ft_genero['P6040'] >= 40) &
    (df_ft_genero['P6040'] <= 50)
]['FEX_C18'].sum()
print(f'PEA en RISARALDA entre 40-50 años: {int(PEA_40_50)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 40-50 AÑOS EN RISARALDA
TD_40_50 = (HDR_40_50 / PEA_40_50) * 100
print(f'Tasa de desempleo en RISARALDA entre 40-50 años: {TD_40_50:.2f}%')


#SEGMENTO 18-24
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 60 Y MAS AÑOS EN RISARALDA
HDR_60_100 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 66) &
    (df_d_genero['P6040'] >= 60) &
    (df_d_genero['P6040'] <= 100)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en RISARALDA entre 18-24 años: {int(HDR_18_24)}')

#2. CALCULAR PEA ENTRE 60 y mas AÑOS EN RISARALDA
PEA_60_100 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 66) &
    (df_ft_genero['P6040'] >= 60) &
    (df_ft_genero['P6040'] <= 100)
]['FEX_C18'].sum()
print(f'PEA en RISARALODA entre 60 y mas años: {int(PEA_60_100)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 60 y mas AÑOS EN RISARALDA
TD_60_100 = (HDR_60_100/ PEA_60_100) * 100
print(f'Tasa de desempleo en RISARALDA entre 60 y mas años: {TD_60_100:.2f}%')

PERSONAS desocupados en Risaralda entre 18-24 años: 9385
PEA en RISARALDA entre 18-24 años: 63454
Tasa de desempleo en RISARALDA entre 18-24 años: 14.79%
PERSONAS desocupados en RISARALDA entre 24-30 años: 10504
PEA en RISARALDA entre 24-30 años: 90684
Tasa de desempleo en RISARALDA entre 24-30 años: 11.58%
PERSONAS desocupados en RISALDA entre 30-40 años: 9922
PEA en RISARALDA entre 18-24 años: 153899
Tasa de desempleo en RISARALDA entre 30-40 años: 6.45%
PERSONAS desocupados en RISARALDA entre 40-50 años: 7584
PEA en RISARALDA entre 40-50 años: 103397
Tasa de desempleo en RISARALDA entre 40-50 años: 7.34%
PERSONAS desocupados en RISARALDA entre 18-24 años: 9385
PEA en RISARALODA entre 60 y mas años: 61031
Tasa de desempleo en RISARALDA entre 60 y mas años: 3.64%

In [26]:
#SEGMENTO 18-24
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 18-24 AÑOS EN RISARALDA CALDAS
HDC_18_24 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 17) &
    (df_d_genero['P6040'] >= 18) &
    (df_d_genero['P6040'] <= 24)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en CALDAS entre 18-24 años: {int(HDC_18_24)}')

#2. CALCULAR PEA ENTRE 18-24 AÑOS EN CALDAS
PEA_18_24 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 17) &
    (df_ft_genero['P6040'] >= 18) &
    (df_ft_genero['P6040'] <= 24)
]['FEX_C18'].sum()
print(f'PEA en CALDAS entre 18-24 años: {int(PEA_18_24)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 18-24 AÑOS EN CALDAS
TD_18_24 = (HDC_18_24 / PEA_18_24) * 100
print(f'Tasa de desempleo en CALDAS entre 18-24 años: {TD_18_24:.2f}%')


#SEGMENTO 24-30
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 18-24 AÑOS EN CALDAS
HDC_24_30 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 17) &
    (df_d_genero['P6040'] >= 24) &
    (df_d_genero['P6040'] <= 30)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en CALDAS entre 24-30 años: {int(HDC_24_30)}')

#2. CALCULAR PEA ENTRE 24-30 AÑOS EN CALDAS
PEA_24_30 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 17) &
    (df_ft_genero['P6040'] >= 24) &
    (df_ft_genero['P6040'] <= 30)
]['FEX_C18'].sum()
print(f'PEA en CALDAS entre 24-30 años: {int(PEA_24_30)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 24-30 AÑOS EN CALDAS
TD_24_30 = (HDC_24_30 / PEA_24_30) * 100
print(f'Tasa de desempleo en CALDAS entre 24-30 años: {TD_24_30:.2f}%')


#SEGMENTO 30-40
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 30-40 AÑOS EN CALDAS
HDC_30_40 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 17) &
    (df_d_genero['P6040'] >= 30) &
    (df_d_genero['P6040'] <= 40)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en CALDAS entre 30-40 años: {int(HDC_30_40)}')

#2. CALCULAR PEA ENTRE 30-40 AÑOS EN CALDAS
PEA_30_40 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 17) &
    (df_ft_genero['P6040'] >= 30) &
    (df_ft_genero['P6040'] <= 40)
]['FEX_C18'].sum()
print(f'PEA en CALDAS entre 18-24 años: {int(PEA_30_40)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 18-24 AÑOS EN CALDAS
TD_30_40 = (HDC_30_40 / PEA_30_40) * 100
print(f'Tasa de desempleo en CALDAS entre 30-40 años: {TD_30_40:.2f}%')


#SEGMENTO 40-50
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 40-50 AÑOS EN CALDAS
HDC_40_50 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 17) &
    (df_d_genero['P6040'] >= 40) &
    (df_d_genero['P6040'] <= 50)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en CALDAS entre 40-50 años: {int(HDC_40_50)}')

#2. CALCULAR PEA ENTRE 40-50 AÑOS EN CALDAS
PEA_40_50 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 17) &
    (df_ft_genero['P6040'] >= 40) &
    (df_ft_genero['P6040'] <= 50)
]['FEX_C18'].sum()
print(f'PEA en CALDAS entre 40-50 años: {int(PEA_40_50)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 40-50 AÑOS EN CALDAS
TD_40_50 = (HDC_40_50 / PEA_40_50) * 100
print(f'Tasa de desempleo en CALDAS entre 40-50 años: {TD_40_50:.2f}%')


#SEGMENTO 18-24
#1. CALCULAR CANTIDAD DE PERSONAS DESEMPLEADAS ENTRE 60 Y MAS AÑOS EN CALDAS
HDC_60_100 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 17) &
    (df_d_genero['P6040'] >= 60) &
    (df_d_genero['P6040'] <= 100)
]['FEX_C18'].sum()
print(f'PERSONAS desocupados en CALDAS entre 18-24 años: {int(HDC_18_24)}')

#2. CALCULAR PEA ENTRE 60 y mas AÑOS EN CALDAS
PEA_60_100 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 17) &
    (df_ft_genero['P6040'] >= 60) &
    (df_ft_genero['P6040'] <= 100)
]['FEX_C18'].sum()
print(f'PEA en CALDAS entre 60 y mas años: {int(PEA_60_100)}')

#3. CALCULAR TASA DE DESEMPLEO ENTRE 60 y mas AÑOS EN CALDAS
TD_60_100 = (HDC_60_100/ PEA_60_100) * 100
print(f'Tasa de desempleo en CALDAS entre 60 y mas años: {TD_60_100:.2f}%')

PERSONAS desocupados en CALDAS entre 18-24 años: 6259
PEA en CALDAS entre 18-24 años: 66978
Tasa de desempleo en CALDAS entre 18-24 años: 9.34%
PERSONAS desocupados en CALDAS entre 24-30 años: 6090
PEA en CALDAS entre 24-30 años: 94541
Tasa de desempleo en CALDAS entre 24-30 años: 6.44%
PERSONAS desocupados en CALDAS entre 30-40 años: 7691
PEA en CALDAS entre 18-24 años: 134487
Tasa de desempleo en CALDAS entre 30-40 años: 5.72%
PERSONAS desocupados en CALDAS entre 40-50 años: 6318
PEA en CALDAS entre 40-50 años: 123334
Tasa de desempleo en CALDAS entre 40-50 años: 5.12%
PERSONAS desocupados en CALDAS entre 18-24 años: 6259
PEA en CALDAS entre 60 y mas años: 62637
Tasa de desempleo en CALDAS entre 60 y mas años: 4.06%

In [34]:
#calcular menor tasa de desempleo en el quindio de mujeres entre los 18 y los 25 años 
df_d_mujeres_18_25 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 63) &
    (df_d_genero['P3271'] == 2) &  # Mujeres
    (df_d_genero['P6040'] >= 18) &
    (df_d_genero['P6040'] <= 25)
]
desempleadas_mujeres_18_25 = df_d_mujeres_18_25['FEX_C18'].sum()
print(f'Mujeres desocupadas en Quindio entre 18-25 años: {int(desempleadas_mujeres_18_25)}')
df_ft_mujeres_18_25 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 63) &
    (df_ft_genero['P3271'] == 2) &  # Mujeres
    (df_ft_genero['P6040'] >= 18) &
    (df_ft_genero['P6040'] <= 25)
]
pea_mujeres_18_25 = df_ft_mujeres_18_25['FEX_C18'].sum()
print(f'PEA mujeres en Quindio entre 18-25 años: {int(pea_mujeres_18_25)}')
tasa_desempleo_mujeres_18_25 = (desempleadas_mujeres_18_25 / pea_mujeres_18_25) * 100
print(f'Tasa de desempleo mujeres en Quindio entre 18-25 años: {tasa_desempleo_mujeres_18_25:.2f}%')
import pandas as pd
import numpy as np

Mujeres desocupadas en Quindio entre 18-25 años: 912
PEA mujeres en Quindio entre 18-25 años: 12221
Tasa de desempleo mujeres en Quindio entre 18-25 años: 7.47%

In [35]:
#calcular menor tasa de desempleo en el Caldas de mujeres entre los 18 y los 25 años 
df_d_mujeres_18_25 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 17) &
    (df_d_genero['P3271'] == 2) &  # Mujeres
    (df_d_genero['P6040'] >= 18) &
    (df_d_genero['P6040'] <= 25)
]
desempleadas_mujeres_18_25 = df_d_mujeres_18_25['FEX_C18'].sum()
print(f'Mujeres desocupadas en Caldas entre 18-25 años: {int(desempleadas_mujeres_18_25)}')
df_ft_mujeres_18_25 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 17) &
    (df_ft_genero['P3271'] == 2) &  # Mujeres
    (df_ft_genero['P6040'] >= 18) &
    (df_ft_genero['P6040'] <= 25)
]
pea_mujeres_18_25 = df_ft_mujeres_18_25['FEX_C18'].sum()
print(f'PEA mujeres en caldas entre 18-25 años: {int(pea_mujeres_18_25)}')
tasa_desempleo_mujeres_18_25 = (desempleadas_mujeres_18_25 / pea_mujeres_18_25) * 100
print(f'Tasa de desempleo mujeres en caldas entre 18-25 años: {tasa_desempleo_mujeres_18_25:.2f}%')

Mujeres desocupadas en Caldas entre 18-25 años: 4075
PEA mujeres en caldas entre 18-25 años: 28109
Tasa de desempleo mujeres en caldas entre 18-25 años: 14.50%

In [36]:
#calcular menor tasa de desempleo en el Risaralda de mujeres entre los 18 y los 25 años 
df_d_mujeres_18_25 = df_d_genero[
    (df_d_genero['DSI'] == 1) &
    (df_d_genero['DPTO'] == 66) &
    (df_d_genero['P3271'] == 2) &  # Mujeres
    (df_d_genero['P6040'] >= 18) &
    (df_d_genero['P6040'] <= 25)
]
desempleadas_mujeres_18_25 = df_d_mujeres_18_25['FEX_C18'].sum()
print(f'Mujeres desocupadas en Risaralda entre 18-25 años: {int(desempleadas_mujeres_18_25)}')
df_ft_mujeres_18_25 = df_ft_genero[
    (df_ft_genero['FT'] == 1) &
    (df_ft_genero['DPTO'] == 66) &
    (df_ft_genero['P3271'] == 2) &  # Mujeres
    (df_ft_genero['P6040'] >= 18) &
    (df_ft_genero['P6040'] <= 25)
]
pea_mujeres_18_25 = df_ft_mujeres_18_25['FEX_C18'].sum()
print(f'PEA mujeres en Risaralda entre 18-25 años: {int(pea_mujeres_18_25)}')
tasa_desempleo_mujeres_18_25 = (desempleadas_mujeres_18_25 / pea_mujeres_18_25) * 100
print(f'Tasa de desempleo mujeres en caldas entre 18-25 años: {tasa_desempleo_mujeres_18_25:.2f}%')

Mujeres desocupadas en Risaralda entre 18-25 años: 7560
PEA mujeres en Risaralda entre 18-25 años: 32882
Tasa de desempleo mujeres en caldas entre 18-25 años: 22.99%